---
import "@/styles/global.css"
---
<section class="grid h-screen place-content-center bg-white px-4">
  <h1 class="uppercase tracking-widest text-gray-500">404 | Not Found</h1>
  <a href="/" class="-m-1.5 p-1.5 text-center">
    <span class="text-gray-500 text-2xl text-[1rem] hover:text-amber-500">Volver a inicio</span>
  </a>
</section>