---
import bento1 from '../assets/bento1.webp';
import bento2 from '../assets/bento2.webp';
import bento3 from '../assets/bento3.webp';
import bento4 from '../assets/bento4.webp';
---

<section class="bg-gray-50 py-24 sm:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <header class="text-center">
      <h2 class="text-base font-semibold text-orange-600">Renueva tu hogar</h2>
      <p class="mt-2 text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">
        Inspírate con nuestros proyectos de reforma
      </p>
    </header>
    <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
      <article class="relative lg:row-span-2">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
          <header class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
            <h3 class="text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Cocina moderna</h3>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Transformamos cocinas tradicionales en espacios modernos y funcionales para disfrutar cada momento.
            </p>
          </header>
          <figure class="relative min-h-[30rem] w-full grow max-lg:mx-auto max-lg:max-w-sm pt-4">
            <img class="size-full object-cover object-top" src={bento1.src} alt="Reforma de cocina moderna" />
          </figure>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 lg:rounded-l-[2rem]"></div>
      </article>

      <article class="relative max-lg:row-start-1">
        <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]">
          <header class="px-8 pt-8 sm:px-10 sm:pt-10">
            <h3 class="text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Ampliación de espacios</h3>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Maximiza el espacio de tu hogar con soluciones inteligentes y diseño moderno.
            </p>
          </header>
          <figure class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2">
            <img class="w-full max-lg:max-w-xs" src={bento2.src} alt="Reforma de ampliación de espacios" />
          </figure>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-t-[2rem]"></div>
      </article>

      <article class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
          <header class="px-8 pt-8 sm:px-10 sm:pt-10">
            <h3 class="text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Salón comedor</h3>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Diseñamos salones comedores que se adaptan a tu estilo de vida, combinando comodidad y elegancia.
            </p>
          </header>
          <figure class="flex flex-1 items-center max-lg:py-6 lg:pb-2">
            <img class="w-[90%] h-[90%] object-cover" src={bento3.src} alt="Reforma de salón comedor" />
          </figure>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5"></div>
      </article>

      <article class="relative lg:row-span-2">
        <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]">
          <figure class="relative min-h-[30rem] w-full grow pb-4">
            <img class="object-fill w-full h-full" src={bento4.src} alt="Reforma de baño contemporáneo " />
          </figure>
          <header class="px-8 pt-8 pb-3 sm:px-10 sm:pt-0 sm:pb-10">
            <h3 class="text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Baño contemporáneo</h3>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
              Creamos baños elegantes y prácticos que combinan diseño y confort para tu día a día.
            </p>
          </header>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg ring-1 shadow-sm ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
      </article>
    </div>
  </div>
</section>
