---
import bento2 from '../assets/bento2.webp';
---
<section class="overflow-hidden bg-orange-50 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:max-w-none">
      <div class="lg:pt-4 lg:pr-8">
        <div class="lg:max-w-lg flex flex-col justify-between h-full">
          <div>
            <h1 class="text-4xl font-bold tracking-tight text-orange-600 sm:text-5xl">
              Transformamos tu Espacio en algo Extraordinario
            </h1>
            <p class="mt-6 text-2xl text-gray-700">
              Renovaciones modernas y funcionales adaptadas a tu estilo de vida.
            </p>
            <p class="mt-6 text-2xl text-gray-700">
              Somos especialistas en reformas integrales de calidad con un enfoque personalizado.
            </p>
          </div>
          <div class="mt-8">
            <a
              href="#"
              class="inline-flex items-center rounded-lg bg-orange-600 px-5 py-3 text-base font-semibold text-white shadow-md hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-600 focus:ring-offset-2"
            >
              Comienza Ahora
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="ml-2 h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <img
          src={bento2.src}
          alt="Transformamos tu hogar"
          class="w-full h-auto sm:w-[48rem] rounded-xl shadow-xl ring-1 ring-gray-400/10"
        />
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-16 sm:py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Reformas integrales en Madrid
      </h2>
      <h3 class="mt-4 text-xl font-semibold text-orange-600">
        Profesionales a tu disposición
      </h3>
      <p class="mt-6 text-lg text-gray-700">
        Somos una empresa líder en reformas integrales en Madrid que cuenta con una amplia trayectoria en reformas completas y también en reformas de baño, reformas de piso, reformas de cocina e interiores.
      </p>
      <p class="mt-4 text-lg text-gray-700">
        Madrid es una ciudad grande con mucha reglamentación para la construcción, por eso cumplimos con las normas desde el primer momento hasta la finalización de la obra, asegurando un proyecto acorde al presupuesto acordado.
      </p>
    </div>
  </div>
</section>
